.banner {
  /* background-color: whitesmoke; */
}
.contain {
  background-color: whitesmoke;
}

.language-bash {
  margin: 2.5rem;
  font-size: 1.1rem;
}
pre {
  background-color: rgb(231, 230, 230);
  padding: 18px;
  border-radius: 5px;
}
h1 {
  padding: 4rem 0 1rem 0;
  font-size: 50px;
  border-bottom: 2px solid;
  margin-bottom: 40px;
}
h2 {
  margin: 50px 0 20px 0;
}
p {
  line-height: 30px;
  font-size: 18px;
  max-width: 90%;
}
p code {
  background-color: #fff98c;
  border-radius: 3px;
  padding: 5px;
}
