@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900&display=swap");

* {
  font-family: "Source Sans Pro" !important;
}

/* navbar */
.navbar-light {
  background-color: #153b44;
}
#v-logo {
  font-size: 30px;
  font-weight: bold;
}

.navbar-nav a {
  cursor: pointer;
  margin-right: 10px;
  font-size: 19px;
}

/* Banner */

.text-center {
  margin-top: 6%;
}

#banner {
  border-bottom-right-radius: 50rem 50rem;
  height: 30rem;
}

#banner-background {
  background-image: linear-gradient(to top, #0fd850 0%, #01380a 100%);
  height: 35rem;
}

#header-banner {
  font-size: 95px;
  font-weight: bold;
}

#banner-text {
  font-size: 30px;
}

/* Contents */

/* Image right*/
.container{
  display: grid;
}
.cover-description-right {
  margin-top: 40%;
  padding: 0;
}

.img-right {
  margin-left: 15%;
  margin-top: 40%;
}

.cover1 {
  height: 45rem;
}

.header {
  font-size: 55px;
  font-weight: bold;
  color: #153b44;
}

.description {
  font-size: 25px;
}

.readmore {
  width: 8rem;
}

/* Image left */

.img-left {
  margin-top: 40%;
}
.cover-description-left{
  margin-left: 25%;
  margin-top: 40%;
  width: 100%;
  padding: 0;
}


.cover2 {
  height: 45rem;
}

/* footer */

.footer {
  /* background-color: #3a3d44; */
  background-color: #153b44;
  height: 20rem;
  margin-top: 10%;
}

.logo {
  font-size: 65px;
  margin-top: 15%;
}

.sw-logo {
  width: 22rem;
  margin-top: 5%;
}

.copy-right {
  font-size: 20px;
  color: white;
  margin-top: 5%;
  text-align: end;
}

/* responsive */


/* Small devices (portrait and landscape phones, 300px and up) */

/* ======iPhone5======= */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  /* navbar */
  
  .navbar {
  padding: 0;
  height: 40px;
  }
  
  #v-logo {
  display: none;
  }
  
  .navbar-nav a {
  font-size: 9px;
  padding: 0;
  overflow: hidden;
  }
  
  .div.container {
  text-align: center;
  justify-content: center;
  }
  
  .navbar-expand .navbar-nav .nav-link {
  padding: 0;
  }

  /* banner */
  #header-banner {
  margin-top: 15%;
  font-size: 40px;
  font-weight: bolder;
  }
  #banner-text {
  font-size: 20px;
  }
  
  #banner-background {
  height: 22rem;
  }
  
  #banner {
  height: 20rem;
  }
  /* contents-right pic */
  .container{
    display: grid;
  }

  .header {
  font-size: 34px;
  font-weight: bold;
  }
  
  .description{
  justify-content: center;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  }
  
  .cover-description-right {
  margin: 0;
  margin-top: 15%;
  padding:5%;
  }
  
  .cover1 {
  padding: 0;
  margin: 0%;
  height: 50rem;
  } 
  
  .readmore {
  max-width: 50%;
  height: 30px;
  font-size: 12px;
  margin-left: 25%;
  }

  .img-right{
   width: 80%;
   margin-left: 10%;
   margin-top: 10%;
  }


  /* contents-left contents */
  .cover2 {
  padding: 0;
  margin: 0;
  height: 50rem;
  }
  
  .img-left{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  }
  .cover-description-left {
    margin: 0;
    margin-top: 15%;
    padding:5%;
    }
    
  #column-reverse{
    display: flex;
    flex-direction: column-reverse;
  }
  /* footer */
  .sw-logo {
  width: 60%;
  margin-left: 20%;
  margin-top: 60px;
  }
  
  .logo {
  display: none;
  }
  
  #cover-logo {
  margin-top: 0;
  padding: 0;
  }
  
  #cover-copyright {
  padding: 0;
  margin: 0;
  }
  
  .copy-right {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  }
  .footer {
  margin-top: 50px;
  }
}

/* Landscape */
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {

  /* navbar */

  .navbar-nav a {
  padding: 0 !important;
  overflow: hidden;
  }
  #v-logo {
  font-size: 11px !important;
  }

  /* contents-right pic */

  .cover-description-right {
  margin-top: 8% !important;
  padding:5% !important;
  }
  .cover1 {
  height: 40rem  !important;
  } 
  .readmore {
  margin-left: 35% !important;
  }

  .img-right{
  width: 50% !important;
  margin-left: 25% !important;
  margin-top: 5% !important;
  }

  /* contents-left contents */
  .cover2 {
  height: 40rem !important;
  }
  .img-left{
  width: 50% !important;
  margin-left: 25% !important;
  margin-top: 5% !important;
  }
  .cover-description-left {
  margin-top: 8% !important;
  padding:5% !important;
  }
  #column-reverse{
  display: flex;
  flex-direction: column-reverse;
  }

}

/* ======iPhone6 to 8 and Galaxy s ======= */


/* portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  /* navbar */
    .navbar-nav a {
      font-size: 11px !important;
      padding: 0;
      overflow: hidden;
    }

  /* banner */

  #header-banner {
    margin-top: 5%;
    font-size: 40px;
    font-weight: bolder;
    }

    .readmore {
      max-width: 50%;
      height: 30px;
      font-size: 12px;
      margin-left: 30%;
      }
    
}


/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    /* navbar */
   .navbar-nav a {
      font-size: 13px !important;
      padding: 0;
      overflow: hidden;
    }
    
    #v-logo {
      font-size: 15px !important;
      margin-right: 3%;
      /* display: none; */
    }
   /* banner */
  #header-banner {
    margin-top: 5%;
    font-size: 40px;
    font-weight: bolder;
    }
    #banner-text {
    font-size: 24px;
    }
    #banner-background {
    height: 25rem;
    }
    #banner {
    height: 22rem;
    }

  /* contents-right pic */

  .header {
  font-size: 34px;
  font-weight: bold;
  }
  
  .description{
  justify-content: center;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  }
  
  .cover-description-right {
  margin: 0;
  margin-top: 20%;
  padding:5%;
  }
  
  .cover1 {
  padding: 0;
  margin: 0%;
  height: 30rem;
  } 
  
  .readmore {
  max-width: 50%;
  height: 30px;
  font-size: 12px;
  margin-left: 25%;
  }

  .img-right{
   width:120%;
   margin-left: 10%;
   margin-top: 100%;
  }

/* contents-left contents */
.cover2 {
  padding: 0;
  margin: 0;
  height: 30rem;
}
  
  .img-left{
  width: 120%;
  margin-left:-10%;
  margin-top: 100%;
}
.cover-description-left {
  margin: 0;
  margin-top:20%;
  padding:5%;
  width: 100%;
}
   /* footer */
.sw-logo {
  width: 50% !important;
  margin-left: 25% !important;
  margin-top: 60px;
  }
  
  .logo {
  display: none;
  }
  
  #cover-logo {
  margin-top: 0;
  padding: 0;
  }
  
  #cover-copyright {
  padding: 0;
  margin: 0;
  }
  
  .copy-right {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  }
  .footer {
  margin-top: 50px;
  }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  /* navbar */
  .navbar-nav a {
    font-size: 12px !important;
    overflow: hidden;
  }
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width:  736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  /* navbar */
  .navbar-nav a {
    font-size: 15px !important;
    overflow: hidden;
  }
  
  #v-logo {
    font-size: 23px;
    margin-right: 7%;
    margin-left: -8% !important;
  }
   /* banner */
  #header-banner {
    margin-top: 7%;
    font-size: 50px;
  }
  #banner-text {
    font-size: 25px;
  }
  #banner-background {
    height: 25rem;
  }
  #banner {
    height: 22rem;
  }

/* contents-right pic */

  .header {
  font-size: 34px;
  }
  
  .description{
  font-size: 20px;
  width: 100%;
  }
  
  .cover-description-right {
  margin-top: 20%;
  padding:5%;
  }
  
  .cover1 {
  height: 30rem;
  } 
  
  .readmore {
  font-size: 12px;
  margin-left: 25%;
  }

  .img-right{
   width:120% !important;
   margin-left: 10%;
   margin-top: 100% !important;
  }  
/* contents-left contents */
  .cover2 {
    height: 30rem;
  }

  .img-left{
    width: 120% !important;
    margin-left:20%;
    margin-top: 100% !important;
  }
  .cover-description-left {
    margin-top:20%;
    padding:5%;
    width: 100%;
  }

   /* footer */
.sw-logo {
  width: 60%;
  margin-left: 20%;
  margin-top: 60px;
  }
  
  .logo {
  display: none;
  }
  
  #cover-logo {
  margin-top: 0;
  padding: 0;
  }
  
  #cover-copyright {
  padding: 0;
  margin: 0;
  }
  
  .copy-right {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  }
  .footer {
  margin-top: 50px;
  }
}


/* ----------- iPhone X ----------- */
/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 


  /* navbar */
  .navbar-nav a {
    font-size: 15px !important;
    overflow: hidden;
  }
  
  #v-logo {
    font-size: 23px;
    margin-right: 7%;
    margin-left: -2%;
  }

   /* banner */
  #header-banner {
    margin-top: 7%;
    font-size: 50px;
  }
  #banner-text {
    font-size: 25px;
  }
  #banner-background {
    height: 25rem;
  }
  #banner {
    height: 22rem;
  }

/* contents-right pic */

.header {
  font-size: 34px;
  }
  
  .description{
  font-size: 20px;
  width: 100%;
  }
  
  .cover-description-right {
  margin-top: 20%;
  padding:5%;
  }
  
  .cover1 {
  height: 30rem;
  } 
  
  .readmore {
  font-size: 12px;
  margin-left: 25%;
  }

  .img-right{
   width:110%;
   margin-left: 1%;
   margin-top: 70%;
  }  


/* contents-left contents */
.cover2 {
  height: 30rem;
}

.img-left{
  width: 110%;
  margin-left:10%;
  margin-top: 70%;
}
.cover-description-left {
  margin-top:20%;
  margin-left: 13%;
  padding:5%;
  width: 100%;
}

 /* footer */
 .sw-logo {
  width: 80%;
  margin-left: 10%;
  margin-top: 60px;
  }
  
  .logo {
  display: none;
  }
  
  #cover-logo {
  margin-top: 0;
  padding: 0;
  }
  
  #cover-copyright {
  padding: 0;
  margin: 0;
  }
  
  .copy-right {
  font-size: 15px;
  text-align: center;
  justify-content: center;
  }
  .footer {
  margin-top: 50px;
  }
    

}

/* ----------- Google Pixel XL ----------- */

/* Landscape */
@media screen 
  and (device-width: 411px) 
  and (device-height: 731px) 
  and (-webkit-device-pixel-ratio: ·ü£) 
  and (orientation: landscape) {
   /* navbar */
  .navbar-nav a {
    font-size: 15px !important;
    overflow: hidden;
  }
       /* banner */
  #header-banner {
    margin-top: 7%;
    font-size: 50px;
  }
  #banner-text {
    font-size: 25px;
  }
  #banner-background {
    height: 25rem;
  }
  #banner {
    height: 22rem;
  }
  #v-logo {
    font-size: 23px !important;
    margin-right: 7% !important;
    margin-left: -2% !important;
  }

 /* banner */
  #header-banner {
    margin-top: 7%;
    font-size: 50px;
  }
  #banner-text {
    font-size: 25px !important;
  }

}