/* navbar */

.ml-auto {
  font-size: 17px;
}
#v-logo {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: black;
}
#sticky-nav {
  position: sticky;
  top: 0;
}

/* Banner */

.text-center {
  margin-top: 4%;
}

#banner {
  border-bottom-right-radius: 50rem 50rem;
  height: 30rem;
}

#banner-background {
  /* background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%); */
  background-image: linear-gradient(to top, #0fd850 0%, #f6d51a 100%);
  height: 35rem;
}

#header-banner {
  font-family: "Fjalla One";
  font-size: 95px;
}

#banner-text {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

/* Image right*/

.certain {
  display: flex;
  flex-direction: row;
}

.cover-description {
  margin: 0;
  margin-top: 18%;
  padding: 0;
  display: block;
  width: 35rem;
}

.img-right {
  margin-left: 10%;
  margin-top: 25%;
  width: 80%;
}

.cover1 {
  height: 45rem;
  /* background-color: #f0f0f0; */
}

.header {
  font-family: "Times New Roman", Times, serif;
  font-size: 55px;
}

.description {
  font-size: 20px;
}

.readmore {
  width: 10rem;
}

/* Image left */

.img-left {
  margin-right: 10%;
  margin-top: 25%;
  width: 80%;
}

.cover2 {
  height: 45rem;
}

/* footer */

.footer {
  /* background-color: #3a3d44; */
  background-color: #153b44;
  height: 20rem;
}

.logo {
  font-size: 65px;
  margin-top: 10%;
}

.col-md-4 {
  margin-top: 2%;
  font-family: "Times New Roman", Times, serif;
}

.sw-logo {
  width: 22rem;
}

.copy-right {
  font-size: 20px;
  color: white;
  margin-top: 5%;
  text-align: end;
}

/* responsive */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* navbar */
  .navbar {
    padding: 0;
    height: 40px;
  }
  #v-logo {
    display: none;
    padding: 0;
    margin: 0;
  }
  .ml-auto {
    font-size: 9px;
    margin-right: 12px;
    padding: 0;
  }
  .div.container {
    text-align: center;
    justify-content: center;
  }
  .reforest {
    padding: 0;
    margin-right: 4px;
  }

  .farming {
    margin-right: 4px;
  }
  .eco {
    margin-right: 4px;
  }
  .seedsbomb {
    margin-right: 4px;
  }
  .air {
    margin-right: 4px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0;
  }

  /* banner */

  #header-banner {
    font-size: 40px;
  }
  #banner-text {
    font-size: 18px;
  }
  #banner-background {
    height: 22rem;
  }
  #banner {
    height: 20rem;
  }

  /* contents-right pic */
  .header {
    font-size: 30px;
  }
  .subtitle {
    font-size: 20px;
  }
  .description {
    font-size: 18px;
  }
  .img-right {
    display: none;
  }
  .rounded.float-right {
    padding: 0;
    margin: 0;
  }
  .cover1 {
    padding: 0;
    margin: 0%;
    height: 28rem;
  }
  .readmore {
    max-width: 35%;
    height: 30px;
    font-size: 12px;
    margin-left: 30%;
  }

  /* contents-left contents */
  .img-left {
    display: none;
  }
  .cover2 {
    padding: 0;
    margin: 0;
    height: 28rem;
  }

  /* footer */

  .sw-logo {
    width: 80%;
    margin-left: 30px;
    margin-top: 30px;
  }
  .logo {
    display: none;
  }
  .copy-right {
    font-size: 15px;
    text-align: center;
    justify-self: center;
  }
  .footer {
    margin-top: 45px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* navbar */
  .navbar {
    padding: 0;
    height: 40px;
  }
  #v-logo.nav-link {
    font-size: 20px;
    padding: 0;
    margin-right: 20px;
  }
  .ml-auto {
    font-size: 13px;
    margin-right: 12px;
    padding: 0;
  }
  .div.container {
    text-align: center;
    justify-content: center;
  }
  .reforest {
    padding: 0;
    margin-right: 10px;
  }

  .farming {
    margin-right: 10px;
  }
  .eco {
    margin-right: 10px;
  }
  .seedsbomb {
    margin-right: 10px;
  }
  .air {
    margin-right: 10px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0;
  }

  /* banner */

  #header-banner {
    font-size: 50px;
  }
  #banner-text {
    font-size: 25px;
  }
  #banner-background {
    height: 22rem;
  }
  #banner {
    height: 20rem;
  }

  /* contents-right pic */
  .header {
    font-size: 35px;
  }
  .subtitle {
    font-size: 25px;
  }
  .description {
    font-size: 20px;
  }
  .img-right {
    margin-top: 90%;
    margin-left: 30%;
    padding: 0;
  }
  .rounded.float-right {
    padding: 0;
    margin: 0;
  }
  .cover1 {
    padding: 0;
    margin: 0%;
    height: 33rem;
  }
  .readmore {
    max-width: 40%;
    height: 30px;
    font-size: 12px;
    margin-left: 30%;
  }

  /* contents-left contents */
  .img-left {
    margin-top: 90%;
  }
  .cover2 {
    padding: 0;
    margin: 0;
    height: 33rem;
  }

  /* footer */

  .sw-logo {
    width: 40%;
    margin-left: 60%;
    /* margin-top: 30px; */
  }
  .logo {
    /* display: none; */
    font-size: 50px;
    margin-top: 50px;
  }
  #cover-logo {
    margin-top: 0;
    padding: 0;
  }
  #cover-copyright {
    padding: 0;
    margin: 0;
  }
  .copy-right {
    font-size: 15px;
  }
  .footer {
    margin-top: 120px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* navbar */
  .navbar {
    padding: 0;
    height: 50px;
  }
  #v-logo.nav-link {
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
  }
  .ml-auto {
    font-size: 15px;
    margin-right: 12px;
    padding: 0;
  }
  .div.container {
    text-align: center;
    justify-content: center;
  }
  .reforest {
    padding: 0;
    margin-right: 10px;
  }

  .farming {
    margin-right: 10px;
  }
  .eco {
    margin-right: 10px;
  }
  .seedsbomb {
    margin-right: 10px;
  }
  .air {
    margin-right: 10px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0;
  }

  /* banner */

  #header-banner {
    font-size: 55px;
  }
  #banner-text {
    font-size: 25px;
  }
  #banner-background {
    height: 28rem;
  }
  #banner {
    height: 24rem;
  }

  /* contents-right pic */
  .header {
    font-size: 40px;
  }
  .subtitle {
    font-size: 27px;
  }
  .description {
    font-size: 21px;
  }
  .img-right {
    margin-top: 60%;
    margin-left: 30%;
    padding: 0;
  }
  .rounded.float-right {
    padding: 0;
    margin: 0;
  }
  .cover1 {
    padding: 0;
    margin: 0%;
    height: 33rem;
  }
  .readmore {
    max-width: 30%;
    height: 30px;
    font-size: 12px;
    margin-left: 30%;
  }

  /* contents-left contents */
  .img-left {
    margin-top: 60%;
  }
  .cover2 {
    padding: 0;
    margin: 0;
    height: 33rem;
  }

  /* footer */

  .sw-logo {
    width: 90%;
    margin-left: 20px;
    margin-top: 50px;
  }
  #cover-copyright {
    margin-left: 20%;
  }
  #cover-logo {
    font-size: 60px;
    margin-left: 30px;
  }
  .copy-right {
    font-size: 15px;
  }
  .footer {
    margin-top: 15%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* navbar */
  .navbar {
    padding: 0;
    height: 60px;
  }
  #v-logo.nav-link {
    font-size: 30px;
    padding: 0;
    margin-right: 20px;
  }
  .ml-auto {
    font-size: 20px;
    margin-right: 12px;
    padding: 0;
  }
  .div.container {
    text-align: center;
    justify-content: center;
  }
  .reforest {
    padding: 0;
    margin-right: 10px;
  }

  .farming {
    margin-right: 10px;
  }
  .eco {
    margin-right: 10px;
  }
  .seedsbomb {
    margin-right: 10px;
  }
  .air {
    margin-right: 10px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0;
  }

  /* banner */

  #header-banner {
    font-size: 65px;
  }
  #banner-text {
    font-size: 27px;
  }
  #banner-background {
    height: 28rem;
  }
  #banner {
    height: 24rem;
  }

  /* contents-right pic */
  .header {
    font-size: 50px;
  }
  .subtitle {
    font-size: 30px;
  }
  .description {
    font-size: 25px;
  }
  .img-right {
    margin-top: 45%;
    margin-left: 15%;
    padding: 0;
  }
  .rounded.float-right {
    padding: 0;
    margin: 0;
  }
  .cover1 {
    padding: 0;
    margin: 0%;
    height: 33rem;
  }
  .readmore {
    max-width: 30%;
    height: 37px;
    font-size: 16px;
    margin-left: 30%;
  }

  /* contents-left contents */
  .img-left {
    margin-top: 45%;
  }
  .cover2 {
    padding: 0;
    margin: 0;
    height: 33rem;
  }

  /* footer */

  .sw-logo {
    width: 95%;
    margin-left: 20px;
    margin-top: 50px;
  }
  #cover-copyright {
    margin-left: 20%;
  }
  #cover-logo {
    margin-left: 70px;
  }
  .logo {
    margin-left: 40px;
    font-size: 65px;
  }
  .copy-right {
    font-size: 19px;
  }
  .footer {
    margin-top: 15%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* navbar */
  .navbar {
    padding: 0;
    height: 70px;
  }
  #v-logo.nav-link {
    font-size: 40px;
    padding: 0;
    margin-right: 20px;
  }
  .ml-auto {
    font-size: 25px;
    margin-right: 12px;
    padding: 0;
  }
  .div.container {
    text-align: center;
    justify-content: center;
  }
  .reforest {
    padding: 0;
    margin-right: 10px;
  }

  .farming {
    margin-right: 10px;
  }
  .eco {
    margin-right: 10px;
  }
  .seedsbomb {
    margin-right: 10px;
  }
  .air {
    margin-right: 10px;
  }
  .navbar-expand .navbar-nav .nav-link {
    padding: 0;
  }

  /* banner */

  #header-banner {
    font-size: 75px;
  }
  #banner-text {
    font-size: 33px;
  }
  #banner-background {
    height: 28rem;
  }
  #banner {
    height: 24rem;
  }

  /* contents-right pic */
  .header {
    font-size: 60px;
  }
  .subtitle {
    font-size: 35px;
  }
  .description {
    font-size: 28px;
  }
  .img-right {
    margin-top: 45%;
    margin-left: 15%;
    padding: 0;
  }
  .rounded.float-right {
    padding: 0;
    margin: 0;
  }
  .cover1 {
    padding: 0;
    margin: 0%;
    height: 40rem;
  }
  .readmore {
    max-width: 30%;
    height: 37px;
    font-size: 16px;
    margin-left: 30%;
  }

  /* contents-left contents */
  .img-left {
    margin-top: 45%;
  }
  .cover2 {
    padding: 0;
    margin: 0;
    height: 40rem;
  }

  /* footer */

  .sw-logo {
    width: 95%;
    margin-left: 20px;
    margin-top: 50px;
  }
  #cover-copyright {
    margin-left: 20%;
  }
  #cover-logo {
    margin-left: 70px;
  }
  .logo {
    margin-left: 40px;
    font-size: 65px;
  }
  .copy-right {
    font-size: 19px;
  }
  .footer {
    margin-top: 15%;
  }
}
